# Python stuff
__pycache__/
*.pyc 
*.pyo 
*.pyd

#Virtual environments
.env 
.venv/
venv/
ENV/
env/
vectorstore/

#Mac OS metadata
.DS_Store

#VSCode Settings
.vscode/

#Database/local indexes
*.db 
*.sqlite3 
*.log 

#Langchain/Chroma stuff
chroma/ 

